* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: 'IBM Plex Mono', monospace;
  line-height: 1.5;
  font-weight: 400;
  color: #000;
  background-color: #FFCD00;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

#app {
  width: 100%;
  margin: 0;
  padding: 0;
}

button {
  font-family: 'IBM Plex Mono', monospace;
}

a {
  text-decoration: none;
}
